body {
    text-align: center;
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(204, 222, 227);
    box-sizing: border-box;
}

.score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    transition: .5s;
    padding: 20px 0;

    width: 505px;
    background-color: #fff;
    margin: 20px auto 0 auto;

    border-radius: 8px 8px 0 0;

}

.green {
    color: rgb(101, 218, 69);
}

.blue {
    color: rgb(99, 150, 232);
}

.health {
    height: 90px;
    width: 505px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}
.health img {
    max-width: 50px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 39, 39, 0.445);
    z-index: 900;

    transition: 1s;
}

.menu {
    position: absolute;
    top: 100px;
    left: calc(50% - 300px);
    width: 600px;
    min-height: 300px;
    z-index: 1000;
    background-color: rgb(56, 54, 52);
    border-radius: 8px;
    border: 2px solid rgb(234, 227, 227);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    transition: 1s;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.menu li {
    border: 1px solid rgb(56, 54, 52);
    transition: .3s;
    cursor: pointer;
}

.menu li:hover {
    border: 1px solid rgba(220, 216, 212, 0.574);
    background-color: rgba(255, 255, 255, 0.127);
}

.menu-animation {
    opacity: 0;
    pointer-events: none;
}

.menu-score {
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 23px;
    background-color: #fff;
    color: rgb(56, 54, 52);
}

.menu-close {
    margin-top: 70px;
    padding: 20px 50px;
    border: 1px solid rgb(220, 216, 212);
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
    color: rgb(220, 216, 212);
}

.menu-close:focus {
    border: 1px solid rgb(56, 54, 52);
    outline: 2px solid rgb(87, 206, 232);
}

.menu-close:hover {
    background-color: rgb(220, 216, 212);
    color: rgb(56, 54, 52);
}
